*{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    flex-direction: column;
    font-family: "Prompt", sans-serif;

    
}

.global{
    //min-height: 40vh;
    display: flex;
    justify-content: center;
}

.global > section,
.global > header ,
.global > footer
{
    flex: 0 1 var(--largeur-zone-centrale);
    //border: 1px solid black;
    padding: 3rem 1rem;

}

#entete, #footer{
    min-height: 30vh;
    
    
}

.global > header{
    flex-basis: 100%;
    margin-bottom: 5vw;
}
#menu__entete{
    //background-color: var(--couleur-arriere-entete);
    //color: var(--couleur-entete);
    position: relative;
    min-height: auto;
    display: flex;
    flex-direction: column;
    
}

#evenement{
    z-index: 1;
    display: flex;
    justify-content: center;
}
#galerie{
    position: relative;
}
blockquote{
    margin-top: 2vw;
    padding: 2.5rem;
    font-size: clamp(0.7rem, -0.071rem + 3.4vw, 1.4rem);
    background-color: var(--couleur-entete);
    color: var(--couleur-arriere-entete);
    text-align: center;
    border-radius: 5px ;
}
#evenement div{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    gap: 2vw;
}

#galerie section>div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    margin-bottom: 10rem;
    gap: 1rem;
}
#galerie section>div div{
    background-color: var(--couleur-arriere-entete);
    width: 12vw;
    height: 12vw;
    border-radius: 5%;
    margin: auto;
    
}
.global > header{
    flex: 1;
}