*{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    flex-direction: column;
    font-family: "Prompt", sans-serif;

    
}

.global{
    min-height: 40vh;
    display: flex;
    justify-content: center;
}

.global > section,
.global > header ,
.global > footer
{
    flex: 0 1 var(--largeur-zone-centrale);
    //border: 1px solid black;
    padding: 3rem 1rem;
}
#entete, #footer{
    min-height: 20vh;
    
}
.global > section{
    background-color: rgba(255, 255, 255, var(--transparenceSection));
}
.global > header , .global > footer{
    background-color: rgba(255, 255, 255, var(--transparenceBande));
}
#entete{
    background-color: var(--couleur-arriere-entete);
}
#accueil{
    background-color: var(--couleur-arriere-accueil);
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
}
#footer{
    background-color: var(--couleur-arriere-footer);
}