*{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    flex-direction: column;
    font-family: "Prompt", sans-serif;

    
}

.global{
    min-height: 40vh;
    display: flex;
    justify-content: center;
}

.global > section,
.global > header ,
.global > footer
{
    flex: 0 1 900px;
    border: 1px solid black;
}

#entete{
    background-color: var(--couleur-arriere-entete);
}
#accueil{
    background-color: var(--couleur-arriere-accueil);
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
}
#footer{
    background-color: var(--couleur-arriere-footer);
}