.cours{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
gap: 1rem;
}
.carte{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 flex: 1 0 calc(900px/4);
 border: solid black 1px;
 padding: 1rem;
}

/*style des cartes de catégorie*/
/*contenants des catégories*/
.categories-cartes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    gap: 1rem;
}
/*style de chaque catégories*/
.categorie-carte{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20vw;
    background-color: aliceblue;
    border-radius:5% ;
}
/*style description de chaque catégories*/
.categorie-carte p{
    margin-top: .5rem;
    
}