.cours{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
gap: 1rem;
}
.carte{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 flex: 1 0 calc(900px/4);
 border: solid black 1px;
 padding: 1rem;
}