.cours{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
gap: 1rem;
margin: 1rem;
}
.carte{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 flex: 1 0 calc(900px/4);
 border: solid black 1px;
 padding: 1rem;
 border-radius:20px ;
 backdrop-filter: blur(16px) saturate(150%);
}

/*style des cartes de catégorie*/
/*contenants des catégories*/
.categories-cartes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;

}
/*style de chaque catégories*/
.categorie-carte{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
    padding: 1vw;
    border-radius:20px ;
    backdrop-filter: blur(16px) saturate(150%);
    border: black solid 1px;
}

/*style description de chaque catégories*/
.categorie-carte p{
    margin-top: clamp(0.2rem, -0.071rem + 2vw, 0.5rem);
    font-size: clamp(0.2rem, -0.071rem + 2vw, 1rem);
    
}