/*
feuille de style menu principal
*/
.menu-principal-container { //nav

    .menu { // ul
        display: flex;
        flex-direction: column;
        transition: all ease 1s;
        list-style-type: none;
        @media screen and (min-width: 700px) {
            display : flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    
    .menu-item { // li
        flex: 1 0 20%;
        text-align: center;
    }
    
    .menu-item a { // li a
        color: #fff;
    }
    #burger{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        @media screen and (min-width: 700px) {
            display: none;
        }
    }

    #chk_burger:checked ~ .menu {
        transform: translateY(0);
    }
}

